@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

html{
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    text-align: center;
    background-color:#191414;
}

::selection {
    background: #1ad35a;
}

h3{
    color: #1DB954;
    text-decoration: underline 5px;
    font-size: 0.5vw;
    text-align: left;
}

a{
    color: #1ead50;
    flex-direction: row;
    background-color: white;
}